###############################################################################
# Ignore these directories
###############################################################################

logs/
node_modules/
coverage/
build/

###############################################################################
# Ignore these files
###############################################################################

*.log
*.pem
*.tsbuildinfo
.*
.pnp.*
next-env.d.ts

###############################################################################
# Accept these directories
###############################################################################

!.github/

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.eslintrc.json
!.gitignore
!.nvmrc
!.prettierrc
