@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background-start: #d6dbdc;
  --background-end: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background-start: #ffffff;
    --background-end: #d6dbdc;
  }
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end))) rgb(var(--background-start));
}
